.content__lang{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.content__lang li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
}

.content__lang li::before{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/check.svg);
}